@bg_color_null_block: #ffbf82;
@bg_color_block: #ff8720;
@bg_color_game_field: chocolate;
@bg_color: #ffcc92;
@mg_top: 20vh;

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: @bg_color;
}

button:not(.close) {
  border: solid 2px rgba(1, 1, 1, 0.6) !important;
}

.modal-content {
  background-color: orange;
  border: solid 2px rgba(1, 1, 1, 0.6) !important;
}

.hide {
  display: none;
}

[data-click="scroll_down"] {
  display: none;
}

.buttons_panel {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 10;
}

.game_field {
  text-align: center;
  height: 400px;
  width: 400px;
  margin: @mg_top auto auto;
  border-radius: 5px;
  background-color: @bg_color_game_field;
}

.game_block, .game_null_block {
  display: inline-block;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  font-size: 30px;
  line-height: 85px;
  border: @bg_color_game_field 4px solid;
}

.game_block {
  background-color: @bg_color_block;
}

.game_null_block {
  background-color: @bg_color_null_block;
}

.timer {
  text-align: center;
  font-size: 30px;
}

.buttons_field {
  padding-top: @mg_top;
  padding-bottom: @mg_top;
}

.buttons_field * {
  font-size: 2em;
}

.buttons_field .btn {
  margin-top: 20px;
}

.btn-group .btn {
  font-size: 1em;
}

button:disabled {
  opacity: 0.1 !important;
}

.history_stroke {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  max-height: 100vh;
  width: 25vw;
  overflow-y: scroll;
  background-color: #ff8720;
}

.block {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.error_form {
  color: white;
  font-weight: bold;
}

.element_history {
  padding: 10px;
  height: auto;
  border-bottom: #954b13 2px dashed;
}

@media screen and (max-width: 500px) {

  .history_stroke {
    width: 50vw;
  }

  .game_block, .game_null_block {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border: @bg_color_game_field 2px solid;
    line-height: 40px;
  }

  .game_field {
    width: 200px;
    height: 200px;
  }

  .buttons_field {
    padding: 10px;
    height: auto;
  }

  .buttons_field *{
    font-size: 1.5em;
  }


  [data-click="scroll_down"] {
    display: inline-block;
  }
}

@media screen and (max-width: 756px) {

  .buttons_field *{
    font-size: 1.5em;
  }

}